<div class="row">
    <div class="col-sm-12 user-bar">
        <div class="row">

            <div class="col-sm-3">
                <i class="fa fa-home fa-3x"></i>
            </div>

            <div class="col-sm-3">
                <h3>{{ message ~ '' }}</h3>
            </div>

            <div class="col-sm-3">
                {{ include('@QuizCore/Partials/_countdown.html.twig') }}
            </div>

            <div class="col-sm-3">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'Είσοδος' | trans }}</a> {{ 'ή' | trans }} <a href="{{ path('fos_user_registration_register') }}">{{ 'Εγγραφή' | trans }}</a>
                    </div>
                {% else %}
                    <div class="user-name menu-item"> <i class="fa fa-user"></i> {{ app.user }} </div>
                    <ul class="user-info-box nav">
                        <li><i class="fa fa-user"></i> <span> {{ 'Προφίλ' | trans }}</span></li>
                        <li> <i class="fa fa-sign-out"></i> <span>{{ 'Έξοδος' | trans }}</span></li>
                    </ul>
                {% endif %}

            </div>


        </div>

    </div>



</div>

