<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block pageTitle %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets '@QuizCoreBundle/Resources/public/css/bootstrap.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets '@QuizCoreBundle/Resources/public/css/material-wfont.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% stylesheets '@QuizCoreBundle/Resources/public/css/ripples.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% stylesheets 'bundles/quizcore/css/font-awesome.min.css'  filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% stylesheets '@QuizCoreBundle/Resources/public/css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
    </head>


    <body>
        {% block body %}{% endblock %}


        {% javascripts '@QuizCoreBundle/Resources/public/js/jquery-1.11.2.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@QuizCoreBundle/Resources/public/js/bootstrap.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.color.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@QuizCoreBundle/Resources/public/js/knockout.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@QuizCoreBundle/Resources/public/js/ripples.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@QuizCoreBundle/Resources/public/js/material.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(function() {
                $.material.init();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
