{% extends '@QuizCore/layout.html.twig' %}

{% block pageTitle %}Τεστ {{ quiz.getName }}{% endblock %}

{% block stylesheets %}
    {% stylesheets '@QuizCoreBundle/Resources/public/css/quiz.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}

{% block container %}

    <div class="user-bar">
        {% include '@QuizCore/Partials/_header.html.twig' %}
    </div>



    <div class="spinner" data-bind="visible: isLoading">
        <span><i class="fa fa-5x fa-spinner fa-spin"></i> </span>
    </div>

    <ul class="list-inline top-buffer">
        {% for a in quiz.getQuestions %}
            <li class="question-list-item {{ loop.index0 == 0 ? 'question-active' : '' }}"><a href="#questions_carousel" data-interval="false" data-slide-to="{{ loop.index0 }}">{{ loop.index }}</a></li>
          {% endfor %}
 </ul>



    <div id="questions_carousel" class="carousel slide">


        <div  class="carousel-inner" role="listbox">

            {% for question in quiz.getQuestions %}

                    <div class="item{{ loop.index0 == 0 ? ' active' }}">
                        <div class="question-title">
                            <span class="btn-block text-info text-center">{{ question.getQuestionText }}</span>
                        </div>


                            {% if question.getType == 'multiple' %}

                                {% for answer in question.getAnswers %}
                                    <div class="answer-line">
                                        <input  class="answer"  type="checkbox" name="{{ question.getId  ~ ':' ~ answer.getId }}"/> <span> {{ answer.getAnswerText }} </span>
                                    </div>

                                {% endfor %}

                            {% elseif question.getType == 'match' %}


                            {% elseif question.getType == 'truefalse' %}

                            {% elseif question.getType == 'essay' %}

                            {% elseif question.getType == 'radio' %}

                            {% endif %}



            </div>

            {% endfor %}

        <input type="button" data-bind="click: submitQuiz" class="btn btn-block btn-success" value={{ 'Αποστολή' | trans }} />


    </div>

    </div>



{% endblock %}

{% block javascripts %}


    {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.plugin.min.js' %}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}


    {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.countdown.js' %}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}


    {% if app.request.locale == 'el' %}
        {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.countdown-el.js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endif %}

    {% javascripts '@QuizCoreBundle/Resources/public/js/models/quiz/QuizViewModel.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}


    {% javascripts '@QuizCoreBundle/Resources/public/js/models/quiz/Quiz.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}


<script type="text/javascript">
    $('.countdown-container').countdown({until: new Date(2014, 5,0), format: 'HMS', compact: true});

    var vm = new QuizViewModel('{{ sq |raw }}');
    ko.applyBindings(vm);


</script>

{% endblock %}