{% extends '@QuizCore/layout.html.twig' %}

{% block pageTitle %}Τεστ {{ quiz.getName }}{% endblock %}

{% block stylesheets %}
    {% stylesheets '@QuizCoreBundle/Resources/public/css/quiz.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}

{% block containerFL %}

    <div class="user-bar">
        {% include '@QuizCore/Partials/_header.html.twig' %}
    </div>



    <div class="spinner" data-bind="visible: isLoading">
        <span><i class="fa fa-5x fa-spinner fa-spin"></i> </span>
    </div>



    <h3 class="page-header">{{ quiz.getName }}


            <input type="button" data-bind=" tooltip: {title: 'Πρέπει να απαντήσετε σε όλες τις ερωτήσεις.', placement: 'right'} ,click: $root.submitQuiz, disable: ($root.resultMode() || !$root.canSubmit())"
            class="btn btn-success left-buffer-twenty-px pull-right" value={{ 'Αποστολή' | trans }} />

             <input type="button" data-bind="click: $root.nextQuestion, visible: !$root.resultMode()"
              class="btn  btn-info  pull-right" value="Επόμενη ερώτηση" />


    </h3>


  <div class="text-center" data-bind="visible: $root.resultMode()">

            <span class="text-success status-text" data-bind="visible: $root.passed()">ΕΠΙΤΥΧΙΑ</span>
            <span class="text-danger status-text" data-bind="visible: !$root.passed()">ΑΠΟΤΥΧΙΑ</span>


            <div class="final-degree">
                <span>Βαθμός:</span>
                  <span class="text-info" data-bind="text: $root.finalDegree"></span>/
                  <span data-bind="text: $root.Quiz.total_grade"></span>
            </div>
    </div>


    <ul class="list-inline top-buffer" data-bind="foreach: $root.Quiz.questions">
            <li class="question-list-item" data-bind="css: {'question-active' : $index() == 0}">
                <a href="#questions_carousel" data-interval="false"
                                    data-bind="attr: {'data-slide-to' : $index()}, text: $index() + 1">
                  </a>
            </li>
    </ul>



    <div id="questions_carousel" class="carousel slide top-buffer">
        <div data-bind="foreach: $root.Quiz.questions"  class="carousel-inner" role="listbox">

                    <div class="item" data-bind="css: {active : $index() == 0}, attr: { 'data-question' : $data.id() }">
                        <div class="question-title text-center">
                            <span class="question-title " data-bind="text: $data.question_text"></span>
                        </div>


                    <div class="info-container">
                        <div><span>Βαθμοί για σωστή απάντηση:</span> <span class="text-success"  data-bind="text: $data.correct_answer_grade"></span></div>
                        <div data-bind="visible: $root.Quiz.has_negative_grade()"><span>Βαθμοί για λάθος απάντηση: -</span><span class="text-danger" data-bind="text: $data.wrong_answer_grade"></span></div>
                    </div>

                    <ul class="list-inline top-buffer" data-bind="foreach: $data.media_elements">
                       <a data-bind="attr: { 'data-lightbox': 'image' + $index(), href: $data.src() }" > <img width="200" height="200" data-bind="attr: {src: $data.src()}"/></a>
                     </ul>


                        <div data-bind="foreach: $data.answers  ,visible: $data.type() == 'multiple'">
                            <div class="answer-line">
                                <input  class="answer answer-control"  type="checkbox" data-bind="attr: {name : $parentContext.$data.id() + ':' +
                                $data.id()}"/> <span class="answer-text" data-bind="text: $data.answer_text">  </span>
                            </div>
                        </div>

            </div>
            </div>



        <a type="button" href="{{ url('_index') }}" data-bind="visible: $root.resultMode()"  class="btn btn-block btn-info top-buffer">{{ 'OK' | trans }}</a>


    </div>

    </div>



{% endblock %}

{% block javascripts %}


    {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.plugin.min.js' %}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}


    {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.countdown.js' %}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}


    {% if app.request.locale == 'el' %}
        {% javascripts '@QuizCoreBundle/Resources/public/js/jquery.countdown-el.js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endif %}

    {% javascripts '@QuizCoreBundle/Resources/public/js/models/quiz/QuizViewModel.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}





<script type="text/javascript">

    {% if quiz.getTime > 0 %}
        var time = {{ quiz.getTime }};
        var date = new Date();
        date.setMinutes(date.getMinutes() + time);
        $('.countdown-container').countdown({until: date, format: 'HMS', compact: true, onExpiry: function() {
            vm.submitQuiz();
        }});
    {% endif %}
    var vm = new QuizViewModel('{{ sq |raw }}');
    ko.applyBindings(vm);


</script>

{% endblock %}